.celebrity-list{
  background-color: #f4f4f4;
  width: 80%;
  border: 1px solid #dfdfdf;
  margin: 0 auto;
  .details{
    width: 80%;
    border: 1px solid #dfdfdf;
    margin: 0 auto;
    .celebrity{
      text-align: center;
      width: 80%;
      border: 1px solid #dfdfdf;
      margin: 0 auto;
      .no{
        height: 30px;
        background-color: #335872;
        color: white;
      }
      .name, .net-worth, .age, .country{
        color: black;
        margin: 2%;
      }
    }
  }
}
