.celebrity-list{
  background-color: #f4f4f4;
  border: 1px solid #dfdfdf;
  .sort{
    padding-left: 0px;
    padding-right: 0px;
    .sort-group{
      padding-left: 0px;
      padding-right: 0px;
      .label{
        color: black;
      }
    }
  }
  .details{
    border: 1px solid #dfdfdf;
    padding-top: 15px;
    padding-bottom: 15px;
    .celebrity{
      text-align: center;
      border: 1px solid #dfdfdf;
      .no{
        height: 30px;
        background-color: #335872;
        color: white;
        padding-top: 6px;
      }
      .name, .net-worth, .age, .country{
        color: black;
        margin: 2%;
      }
    }
  }
}
